<section data-ng-controller="HomeController">
  <div>
    <h1>REDUX</h1>
    <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/bgimg.jpeg" >
        <div class="pushCal">
          <iframe src="https://calendar.google.com/calendar/embed?src=180gu5tra0n0o6s8eu49ipgrj8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="475" height="300" frameborder="0" scrolling="no">
          </iframe>
        </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      </div>
    </div>
    <br>
    <div class="column">
      <p class="btnPush">
        <a class="btn btn-primary btn-lg" href="/posts" target="_blank">Show Posts</a>
        <a class="btn btn-success btn-lg" href="/posts/create" target="_blank">Create Posts</a>
      </p>
      <h2 class="title">
        Official Home Page For REDUX
      </h2>
    </div>
  </div>

</section>
